<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProjectConversionService" />
                <binding name="BasicHttpBinding_IProjectConversionService1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/decisions/Primary/API/ProjectConversionService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProjectConversionService"
                contract="ProjectConversionService.IProjectConversionService"
                name="BasicHttpBinding_IProjectConversionService" />
            <endpoint address="https://localhost/decisions/Primary/API/ProjectConversionService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProjectConversionService1"
                contract="ProjectConversionService.IProjectConversionService"
                name="BasicHttpBinding_IProjectConversionService1" />
        </client>
    </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.Net" maxdatasize="1024">
        <listeners>
          <add name="MyTraceFile"/>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add
        name="MyTraceFile"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="System.Net.trace.log"
                />
    </sharedListeners>

    <switches>
      <add name="System.Net" value="Verbose" />
    </switches>

  </system.diagnostics>


</configuration>